.outputPreview {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  display: block;
}

